spool {{ oracle_tmp }}/ocr_disk.out;

create diskgroup {{ asm_ocr_group }} external redundancy disk '{{ asm_ocr_paths_find_result | json_query("files[].path") | join("','") }}'
attribute 'compatible.asm' = '{{ oracle_compat_version }}', 'compatible.advm' = '{{ oracle_compat_version }}';

spool off;