#!/usr/bin/expect

set timeout 120

spawn {{ oracle_tmp}}/grid/sshsetup/sshUserSetup.sh \
        -user {{ oracle_user }} \
        -hosts "{{ cluster_nodes | join(' ') }}" \
        -advanced \
        -exverify \
        -confirm \
        -noPromptPassphrase \
        -logfile {{ oracle_tmp }}/sshUserSetup.log

expect {
    -re { password: $} {
        send "{{ oracle_pass }}\r"
        exp_continue
    }
}