{% if {{ sga_max_size }} <> 6  %}
alter system set sga_max_size ={{ sga_max_size }} {{ sga_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ sga_max_size }} <> 6  %}
alter system set sga_target ={{ pga_aggregate_target }} {{ pga_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ sga_max_size }} <> 6  %}
alter system set sga_target ={{ db_recovery_file_dest_size }} {{ db_recovery_file_dest_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ sga_max_size }} <> 6  %}
alter system set sga_target ={{ java_pool_size }} {{ java_pool_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ sga_max_size }} <> 6  %}
alter system set sga_target ={{ db_cache_size }} {{ db_cache_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ sga_max_size }} <> 6  %}
alter system set sga_target ={{ shared_pool_size }} {{ shared_pool_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ sga_max_size }} <> 6  %}
alter system set sga_target ={{ streams_pool_size }} {{ streams_pool_unit }} scope=spfile sid='*';
{% endif %}