ORACLE_HOME={{ oracle_home }}
ORACLE_BASE.orcl={{ oracle_base }}
FAST_RECOVERY_LOC.orcl={{ oracle_base }}/fast_recovery_area/ORCL                            <<What is this?>>
STORAGE_TYPE.orcl=ASM
DB_TYPE.orcl=SI_DB                                                                          <<What are the vaild types and how do I know which to use?>>
NETCA_LOCAL_LISTENERS=LISTENER                                                              <<What is this?>>
LOGDIR={{ install_base }}/oraInventory/logs/
NODE_LIST.orcl={{ cluster_node_string | join(',') }}
ObaseCleanupPtrLoc=/tmp/deinstall2012-06-12_09-14-11AM/orabase_cleanup.lst                  <<What is this?>>
ARCHIVE_LOG_DESTINATION_LOC.orcl=                                                           <<Is this needed or is blank like the sample fine?>>
ORACLE_BASE={{ oracle_base }}
DUMP_DESTINATION_LOC.orcl={{ oracle_base }}/admin/orcl                                      <<What is this?>>
LOCAL_SID.orcl=orcl                                                                         <<Is this that local sid as in orcl1 for the first node of a cluster?>>
INVENTORY_LOCATION={{ install_base }}/oraInventory
RAW_MAPPING_FILE.orcl=                                                                      <<What is this?>>
SID_LIST.orcl=orcl                                                                          <<Would this be a list of all of the SIDs from a cluster (i.e. orcl1,orcl2,orcl3)?>>
DB_UNIQUE_NAME_LIST=orcl                                                                    <<Is this a list of all DBs for the given ORACL_HOME?>>
DATAFILE_LOC.orcl={{ oracle_base }}/oradata/orcl,{{ oracle_base }}/fast_recovery_area/orcl  <<What is this?>>
HOME_TYPE=SIDB                                                                              <<What are the valid types and how do I know which to use?>>
CRS_HOME=false                                                                              <<Is this related to whether on not this is a Cluster?>>
CREATION_MODE.orcl=y                                                                        <<What is this?>>
CONFIGFILE_LOC.orcl=                                                                        <<What is this?>>
ORACLE_BINARY_OK=true                                                                       <<What is this?>>
DIAG_DEST.orcl={{ oracle_base }}/diag/rdbms/orcl                                            <<What is this?>>
LOCAL_NODE={{ ansible_hostname }}
local=false                                                                                 <<What is this?>>
SPFILE_LOC.orcl={{ oracle_base }}/product/12.1.0/dbhome_1/dbs/spfileorcl.ora                <<What is this?>>
inst_group=dba                                                                              <<DB Group Ownership?>>
inventory_loc={{ install_base }}/oraInventory
MinimumSupportedVersion=11.2.0.1.0
silent=false                                                                                <<Is this neeeded? Seems like it could be passed at cmdline?>>
DBCA_LOG.orcl={{ oracle_base }}/cfgtoollogs/dbca/orcl
CCR_CONFIG_STATUS=CCR_DEL_HOME                                                              <<What is this?>>
EMCA_LOG.orcl={{ oracle_base }}/cfgtoollogs/emca/orcl                                       <<What is this?>>
ORACLE_HOME_VERSION_VALID=true                                                              <<What is this?>>