ORACLE_HOME={{ oracle_home }}
ORACLE_BASE.orcl={{ oracle_base }}
FAST_RECOVERY_LOC.orcl={{ oracle_base }}/fast_recovery_area/ORCL
STORAGE_TYPE.orcl=ASM
DB_TYPE.orcl=SI_DB
NETCA_LOCAL_LISTENERS=LISTENER
LOGDIR={{ install_base }}/oraInventory/logs/
NODE_LIST.orcl={{ cluster_node_string | join(',') }}
ObaseCleanupPtrLoc=/tmp/deinstall2012-06-12_09-14-11AM/orabase_cleanup.lst
ARCHIVE_LOG_DESTINATION_LOC.orcl=
ORACLE_BASE={{ oracle_base }}
DUMP_DESTINATION_LOC.orcl={{ oracle_base }}/admin/orcl
LOCAL_SID.orcl=orcl
INVENTORY_LOCATION={{ install_base }}/oraInventory
RAW_MAPPING_FILE.orcl=
SID_LIST.orcl=orcl
DB_UNIQUE_NAME_LIST=orcl
DATAFILE_LOC.orcl={{ oracle_base }}/oradata/orcl,{{ oracle_base }}/fast_recovery_area/orcl
HOME_TYPE=SIDB
CRS_HOME=false
CREATION_MODE.orcl=y
CONFIGFILE_LOC.orcl=
ORACLE_BINARY_OK=true
DIAG_DEST.orcl={{ oracle_base }}/diag/rdbms/orcl
LOCAL_NODE={{ ansible_hostname }}
local=false
SPFILE_LOC.orcl={{ oracle_base }}/product/12.1.0/dbhome_1/dbs/spfileorcl.ora
inst_group=dba
inventory_loc={{ install_base }}/oraInventory
MinimumSupportedVersion=11.2.0.1.0
silent=false
DBCA_LOG.orcl={{ oracle_base }}/cfgtoollogs/dbca/orcl
CCR_CONFIG_STATUS=CCR_DEL_HOME
EMCA_LOG.orcl={{ oracle_base }}/cfgtoollogs/emca/orcl
ORACLE_HOME_VERSION_VALID=true