ORACLE_HOME={{ grid_home }}
LOCAL_NODE={{ ansible_hostname }}
HOME_TYPE=SIHA                                                      <<What are the vaild types and how do I know which to use?>>
ASM_REDUNDANCY=EXTERNAL
ORACLE_BASE={{ oracle_base }}
ObaseCleanupPtrLoc=/tmp/deinstall_bootstrap/orabase_cleanup.lst     <<What is this?>>
SCAN_PORT=0                                                         <<Is there a way for me to get this dynamically?>>
silent=false                                                        <<Is this neeeded? Seems like it could be passed at cmdline?>>
ASM_UPGRADE=false
ORA_CRS_HOME={{ grid_home }}                                        <<What is this? And how is it different from GRID_HOME?>>
MinimumSupportedVersion=11.2.0.1.0
GPNPCONFIGDIR=$ORACLE_HOME                                          <<What is this and will it always be ORACLE_HOME?>>
LOGDIR={{ install_base }}/oraInventory/logs/
ORACLE_HOME_VERSION_VALID=true
ASM_DISCOVERY_STRING=/scratch/raw/raw*                              <<What is this?>>
GPNPGCONFIGDIR=$ORACLE_HOME                                         <<What is this and will it always be ORACLE_HOME?>>
ORACLE_OWNER={{ oracle_user }}
ISROLLING=true                                                      <<What is this?>>
ASM_DISKSTRING=/scratch/raw/raw*                                    <<What is this? and how is it different from 'ASM_DISCOVERY_STRING' above?>>
CRS_STORAGE_OPTION=0                                                <<What is this?>>
ORACLE_BINARY_OK=true
MGMT_DB=false                                                       <<What is this?>>
NETCA_LISTENERS_REGISTERED_WITH_HAS=LISTENER                        <<What is this?>>
inst_group=svrtech                                                  <<What is this?>>
ASM_AU_SIZE=1
HUB_SIZE=0                                                          <<What is this?>>
ASM_ORACLE_BASE={{ oracle_base }}
ORA_DBA_GROUP={{ oracle_dba_group }}
JREDIR={{ grid_home }}/jdk/jre/                                     <<Will this remain relatively the same?>>
USER_IGNORED_PREREQ=false
inventory_loc={{ install_base }}/oraInventory
ASM_DISK_GROUPS="+DATA"                                             <<Would this ever be different for our playbooks?>>
ORA_ASM_GROUP={{ oracle_dba_group }}
LANGUAGE_ID=AMERICAN_AMERICA.AL32UTF8
CSS_LEASEDURATION=400                                               <<What is this? And would it ever need to change?>>
ASM_HOME={{ grid_home }}
ASM_DIAGNOSTIC_DEST={{ oracle_base }}/product/OB                    <<What is this? And would it ever need to change?>>
TZ=PST8PDT                                                          <<This appears to be the timezone.  How could I get the right code for this?>>
REUSEDG=false                                                       <<What is this?>>
local=false                                                         <<What is this?>>
INVENTORY_LOCATION={{ oracle_base }}/oraInventory                   <<How is this different from 'inventory_loc' above?>>
GNS_CONF=false                                                      <<What is this?>>
BIG_CLUSTER=false                                                   <<What is this?>>
ASM_DISKS={{ asm_disks }}                                           <<This appears to be a list of ASM disks.  Do we need this and the ASM_*STRING entries above?>>
ORACLE_HOME={{ oracle_base }}/product/12.1.0/grid
CRS_HOME=true                                                       <<Is this determinig whether or not this is a cluster?>>
ASM_IN_HOME=true                                                    <<Would this always be true for our playbooks?>>
CRFHOME={{ grid_home }}
ASM_DROP_DISKGROUPS=true                                            <<What is this?>>
ASM_LOCAL_SID={{ asm_sid }}
JLIBDIR={{ grid_home }}/jlib                                        <<Will this remain relatively the same?>>
VNDR_CLUSTER=false                                                  <<What is this?>>
ASM_DISK_GROUP=DATA                                                 <<How is this different from 'ASM_DISK_GROUPS' above and do we need both?>>