ORACLE_HOME={{ grid_home }}
LOCAL_NODE={{ ansible_hostname }}
HOME_TYPE=SIHA
ASM_REDUNDANCY=EXTERNAL
ORACLE_BASE={{ oracle_base }}/
ObaseCleanupPtrLoc=/tmp/deinstall_bootstrap/orabase_cleanup.lst
SCAN_PORT=0
silent=false
ASM_UPGRADE=false
ORA_CRS_HOME={{ oracle_base }}/product/12.1.0/grid
MinimumSupportedVersion=11.2.0.1.0
GPNPCONFIGDIR=$ORACLE_HOME
LOGDIR={{ install_base }}/oraInventory/logs/
ORACLE_HOME_VERSION_VALID=true
ASM_DISCOVERY_STRING=/scratch/raw/raw*
GPNPGCONFIGDIR=$ORACLE_HOME
ORACLE_OWNER=oracle
ISROLLING=true
ASM_DISKSTRING=/scratch/raw/raw*
CRS_STORAGE_OPTION=0
ORACLE_BINARY_OK=true
MGMT_DB=false
NETCA_LISTENERS_REGISTERED_WITH_HAS=LISTENER
inst_group=svrtech
ASM_AU_SIZE=1
HUB_SIZE=0
ASM_ORACLE_BASE={{ oracle_base }}
ORA_DBA_GROUP=dba
JREDIR={{ oracle_base }}/product/12.1.0/grid/jdk/jre/
USER_IGNORED_PREREQ=false
inventory_loc={{ install_base }}/oraInventory
ASM_DISK_GROUPS="+DATA"
ORA_ASM_GROUP=dba
LANGUAGE_ID=AMERICAN_AMERICA.AL32UTF8
CSS_LEASEDURATION=400
ASM_HOME={{ grid_home }}
ASM_DIAGNOSTIC_DEST={{ oracle_base }}/product/OB
TZ=PST8PDT
REUSEDG=false
SILENT=false
local=false
INVENTORY_LOCATION={{ oracle_base }}p/oraInventory
GNS_CONF=false
BIG_CLUSTER=false
ASM_DISKS=/scratch/raw/raw1,/scratch/raw/raw2,/scratch/raw/raw3,/scratch/raw/raw4,/scratch/raw/raw5,/scratch/raw/raw6,/scratch/raw/raw7,/scratch/raw/raw8
ORACLE_HOME={{ oracle_base }}/product/12.1.0/grid
CRS_HOME=true
ASM_IN_HOME=true
CRFHOME="{{ oracle_base }}/product/12.1.0/grid"
ASM_DROP_DISKGROUPS=true
ASM_LOCAL_SID=+ASM
JLIBDIR={{ oracle_base }}/product/12.1.0/grid/jlib
VNDR_CLUSTER=false
ASM_DISK_GROUP=DATA