{% for cluster in cluster_details %}
{% if cluster.host_name == ansible_hostname %}
 {
    "cluster_name": "{{ cluster.cluster_name }}",
    "cluster_type": "{{ cluster.cluster_type }}",
    "gi_version": "{{ cluster.gi_version }}",
    "gi_current_patchset": "{{ cluster.gi_current_patchset }}",
    "env_source": "{{  cluster.env_source }}"
 } 
{% endif %}
{% endfor %} 