{ 
    "database_name": "{{ db_values.database_name }}", 
    "application_name": "{{ db_values.application_name }}", 
    "environment": "{{ db_values.environment }}", 
    "oracle_version": "{{ db_values.oracle_version }}", 
    "rac_type": "{{ db_values.rac_type }}", 
    "business_unit": "{{ db_values.business_unit }}", 
    "appliance": "{{ db_values.appliance }}", 
    "database_role": "{{ db_values.database_role }}", 
    "pci_required": "{{ db_values.pci_required }}", 
    "sox_required": "{{ db_values.sox_required }}", 
    "encryption_required": "{{ db_values.encryption_required }}", 
    "dataguard": "{{ db_values.dataguard }}", 
    "golden_gate": "{{ db_values.golden_gate }}", 
    "backup_enabled": "{{ db_values.backup_enabled }}", 
    "end_of_life": "{{ db_values.end_of_life }}", 
    "db_monitoring_tool": "{{ db_values.db_monitoring_tool }}", 
    "monitoring": "{{ db_values.monitoring }}", 
    "comments": "{{ db_values.comments }}",
    "instance_count": "{{ db_values.instance_count }}", 
    "db_source": "{{ db_values.db_source }}", 
    "dr_solution": "{{ db_values.dr_solution }}", 
    "dr_location": "{{ db_values.dr_location }}", 
    "env_category": "{{ db_values.env_category }}", 
    "host_code": "{{ db_values.host_code }}", 
    "storage_type": "{{ db_values.storage_type }}"

}

            
            